@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

p {
      position: relative;
      color: white;
      font-family: 'cloud light';
      margin-top: 10px;
}

.line {
      position: absolute;
      /*top: 50%;*/
      width: 16em;
      /*margin: 0 auto;*/
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 170%;
      text-align: center;
      white-space: pre;
      overflow: hidden;transform: translateY(-50%);
      word-wrap: break-word;
}

/*Animation*/

.anim-typewriter {
      animation: typewriter 5s steps(40) 1s 1 normal both,
      blinkTextCursor 600ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 25.6em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}